@model CdkAssign01.Models.OrdersListViewModel

@{
    ViewBag.Title = "Lookup Page";
}

<br />

@{ Html.BeginForm("Lookup", "Home"); }
<div class="row">
    <div class="col-md-4">
        @Html.Label("Desired Customer Id: ")
        @Html.TextBox("myDesiredCustomerId", "", new { @class = "form-control" })
    </div>

    <div class="col-md-2">
        <br />
        <input type="submit" value="Lookup" class="btn" />
        <span>&nbsp;</span>
        @Html.ActionLink("Reset", "Index", "Home")
    </div>
</div>


@{ Html.EndForm(); }

@if (Model != null)
{

    <div class="row">
        <div class="col-md-12">
            <span style="color: red">@Model.Message</span>
        </div>
    </div>

    <hr />
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Order</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Year</th>
                    <th>Ownership</th>
                </tr>
            </thead>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.CustomerId</td>
                    <td>@order.OrderId</td>
                    <td>@order.Make</td>
                    <td>@order.Model</td>
                    <td>@order.Model</td>
                    <td>@order.Color</td>
                    <td>@order.Year</td>
                    <td>@order.OwnershipType</td>

 
                </tr>
            }
        </table>

    </div>

}

