@model CdkAssign01.Models.OrdersListViewModel

@{
    ViewBag.Title = "Lookup Page";
}

<br />

@{ Html.BeginForm("Lookup", "Home"); }
<div class="row">
    <div class="col-md-4">
        @Html.Label("Desired Customer Id: ")
        @Html.TextBox("myDesiredCustomerId", "", new { @class = "form-control" })
    </div>

    <div class="col-md-2">
        <br />
        <input type="submit" value="Lookup" class="btn" />
        <span>&nbsp;</span>
        @Html.ActionLink("Reset", "Index", "Home")
    </div>

</div>
@{ Html.EndForm(); }

@if (Model != null)
{
    <hr />
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Order</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                </tr>
            </thead>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.CustomerId</td>
                    <td>@order.OrderId</td>
                    <td>@order.FirstName</td>
                    <td>@order.LastName</td>
                    <td>@order.City</td>
                    <td>@order.StateCode</td>
                    <td>@order.PostalCode</td>

                </tr>
            }
        </table>

    </div>

}

